{%- assign _previous = page.previous -%}
{%- assign _next = page.next -%}
{%- if _next or _previous -%}
  <div class="article__section-navigator">
    {%- if _next -%}
      {%- include snippets/prepend-baseurl.html path=_next.url -%}
      {%- assign _href = __return -%}
      <div class="previous"><span>上一篇：</span><a href="{{ _href }}">{{ _next.title }}</a></div>
    {%- endif -%}
    {%- if _previous -%}
      {%- include snippets/prepend-baseurl.html path=_previous.url -%}
      {%- assign _href = __return -%}
      <div class="next"><span>下一篇：</span><a href="{{ _href }}">{{ _previous.title }}</a></div>
    {%- endif -%}
  </div>
{%- endif -%}