<div class="col-lg-8 mx-auto mt-5 article">
  {% assign count = 1 %}
  {% for post in site.posts reversed %}
  {% assign year = post.date | date: '%Y' %}
  {% assign nyear = post.next.date | date: '%Y' %}
  {% if year != nyear %}
  {% assign count = count | append: ', ' %}
  {% assign counts = counts | append: count %}
  {% assign count = 1 %}
  {% else %}
  {% assign count = count | plus: 1 %}
  {% endif %}
  {% endfor %}
  {% assign counts = counts | split: ', ' | reverse %}
  {% assign i = 0 %}
  <div data-toc="#toc">
      {% for post in site.posts %}
      {% assign year = post.date | date: '%Y' %}
      {% assign nyear = post.next.date | date: '%Y' %}
      {% if year != nyear %}
      <h4 id="postdata"><b>{{ post.date | date: '%Y' }}</b><!--统计数目<span class="badge badge-pill badge-info">{{ counts[i] }}</span>-->
      </h4>
      {% assign i = i | plus: 1 %}
      {% endif %}
      <ul>
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: '%m-%d' }} &raquo; {{ post.title }}</a>
          {% include snippets/get-category.html %}
          {% include snippets/get-tag.html %}
        </li>
      </ul>
      {% endfor %}
  </div>
</div>
<aside class="col-md-3 d-none d-md-block">
    <div class="sidebar-module">
      <div class="toc" id="toc"></div>
    </div>
</aside>
<!-- /.blog-sidebar -->