<footer class="mt-auto py-3 text-center article">

  <small class="text-muted mb-2">
    Copyright &copy; <strong><a href="{{ site.sitelink }}">{{ site.author.name }}</a></strong> 2022<br/>
    <p>
      <a class="github-button" href="{{ site.repositoryurl }}" data-icon="octicon-star" data-show-count="true" aria-label="Star {{ site.repository }} on GitHub">Star</a>
      <a class="github-button" href="{{ site.repositoryurl }}/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork {{ site.repository }} on GitHub">Fork</a>
      <a class="github-button" href="{{ site.zipurl }}" data-icon="octicon-cloud-download" aria-label="Download {{ site.repository }} on GitHub">Download</a><br>
    </p>
  </small>

  {% include base/social.html %}

</footer>