<footer class="mt-auto py-3 text-center article">

  <small class="text-muted mb-2">
    Copyright &copy; <strong><a href="https://erickqian.github.io/">{{ site.author.name }}</a></strong> 2022<br/>
    <p>
      <a class="github-button" href="{{ site.github.repository_url }}" data-icon="octicon-star" data-show-count="true" aria-label="Star YoussefRaafatNasry/portfolYOU on GitHub">Star</a>
      <a class="github-button" href="{{ site.github.repository_url }}/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork YoussefRaafatNasry/portfolYOU on GitHub">Fork</a>
      <a class="github-button" href="{{ site.github.zip_url }}" data-icon="octicon-cloud-download" aria-label="Download YoussefRaafatNasry/portfolYOU on GitHub">Download</a><br>
    </p>
  </small>

  {% include base/social.html %}

</footer>